<div class="contact-list">

  <div class="contacts">
    <% @user.friends.each do |contact| %>

      <div class="contact-card">
        <div class="contact-info">
          <div class="contact-avatar">
            <% if contact.photo.attached? %>      
              <%= cl_image_tag contact.photo.key, class: "contacts-avatar" %>
            <% else %>
              <%= image_tag "Hektor.png", class: "contacts-avatar" %>
            <% end %>
          </div>

          <div class="name">
            <%= contact.first_name %> <%= contact.last_name.first %>.
          </div>

        </div>

        <div class="chat-link">
          <% friendships = User.find_friendships(current_user, contact) %>
          <% chatroom = Chatroom.find_by(friendship: friendships[0]) || Chatroom.find_by(friendship: friendships[1]) %>
          <% if chatroom %>
            <%= link_to chatroom_path(chatroom) do %>
               <i class="fas fa-comments"></i>
            <% end %>
          
          <% else %>
            <%= link_to chatrooms_path(name: "#{current_user.first_name}-and-#{contact.first_name}", friendship: friendships[0] ), method: :post do %>
              <i class="fas fa-comments"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
