<div class="dashboard-wrapper">

  <div class="dashboard-grid">

    <div class="dashboard-card" id="user">
        
      <div class="user-info">
        <div class="user-avatar">
          <%= image_tag "hektor.jpg", id: 'dashboard-avatar' %>
        </div>  
        
        <div class="user-demo-badges">
          <div class="user-demo">
            <h4 id="name"><strong><%= @user.first_name %> <%= @user.last_name %></strong></h4>
            <i>( <%= @user.username %> )</i>
          </div>

          <div class="user-badges">
              <span class="badge">
                <div>😂</div>
                <div> <%= @user.received_badges.where(category: 'funny').count %></div>
              </span>
              <span class="badge">
                <div>🥳</div>
                <div><%= @user.received_badges.where(category: 'party').count %></div>
              </span>
              <span class="badge">
                <div>🤗</div>
                <div><%= @user.received_badges.where(category: 'nice').count %></div>
              </span>
              <span class="badge">
                <div>🧠</div>
                <div><%= @user.received_badges.where(category: 'smart').count %></div>
              </span>  
              <span class="badge">
                <div>👾</div>
                <div><%= @user.received_badges.where(category: 'geeky').count %></div>
              </span>
          </div>
        </div>
      </div>
      
      <div class="user-description">
        <h5>About Me</h5>
        <i>"<%= @user.description %>"</i>
      </div>
      
      <%= render 'calls' %>
    </div>
      
    <div class="dashboard-card">
      
      <div class="dashboard-header">

        <div class="dashboard-buttons">
          <%= link_to "Contacts", dashboard_index_path(view: "contacts") , class: "btn-dashboard #{'active' if params[:view] == 'contacts'}" %>
        </div>
      </div>
      
      <div class="dashboard-window">
        <%= render 'contacts' if params[:view] == 'contacts' %>  
      </div>

    </div>
  </div>
</div>

