<div class="dashboard-wrapper">

    <div class="dashboard-main">

      <div class="dashboard-profile">
        <%= image_tag 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.promiflash.de%2Fthema%2Frobert-pattinson%2F&psig=AOvVaw2dChq_WaCnxFa1NP4bd8cj&ust=1613759583030000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPi65pCJ9O4CFQAAAAAdAAAAABAD', id: 'dashboard-avatar' %>
        <div class="user-description">
          <p><%= @user.first_name %> <%= @user.last_name %></p>
          <p><%= @user.description %></p>
        </div>
        <div class="user-info-card">
          <div class="user-icons">
            <ul class="list-inline">
              <li class="list-inline-item"><i>😂</i> <%= @user.badges["funny"].count %></li>
              <li class="list-inline-item"><i>🥳</i> <%= @user.badges["happy"].count %></li>
              <li class="list-inline-item"><i>🤗</i> <%= @user.badges["friendly"].count %></li>
              <li class="list-inline-item"><i>🧠</i> <%= @user.badges["smart"].count %></li>
              <li class="list-inline-item"><i>👾</i> <%= @user.badges["geek"].count %></li>
            </ul>
          </div>
        </div>
      </div>



    </div>

</div>
