<div class="dashboard-wrapper">

  <div class="dashboard-grid">

    <div class="glass-card" id="user">

      <div class="user-info">
        <div class="user-avatar">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, id: "dashboard-avatar" %>
          <% else %>
            <%= image_tag "Hektor.png", id: "dashboard-avatar" %>
          <% end %>
        </div>

        <div class="user-demo-badges">
          <div class="user-demo">
            <h4 id="name"><strong><%= @user.first_name %> <%= @user.last_name %></strong></h4>
            <i>( <%= @user.username %> )</i>
          </div>

          <div class="user-badges">
              <span class="badge">
                <div>😂</div>
                <div> <%= @user.received_badges.where(category: 'funny').count %></div>
              </span>
              <span class="badge">
                <div>🥳</div>
                <div><%= @user.received_badges.where(category: 'party').count %></div>
              </span>
              <span class="badge">
                <div>🤗</div>
                <div><%= @user.received_badges.where(category: 'nice').count %></div>
              </span>
              <span class="badge">
                <div>🧠</div>
                <div><%= @user.received_badges.where(category: 'smart').count %></div>
              </span>
              <span class="badge">
                <div>👾</div>
                <div><%= @user.received_badges.where(category: 'geeky').count %></div>
              </span>
          </div>
        </div>
      </div>


      <div class="user-description">
        <h5>About Me</h5>
        <i>"<%= @user.description %>"</i>
      </div>

      <%= render 'calls' %>
    </div>

    <div class="glass-card">

      <div class="dashboard-header">

        <div class="dashboard-buttons">
          <%= link_to "Contacts", dashboard_index_path(view: "contacts") , class: "btn-dashboard #{'active' if params[:view] == 'contacts'}" %>
          <%= link_to "Pending", dashboard_index_path(view: "pending") , class: "btn-dashboard #{'active' if params[:view] == 'pending'}" %>
        </div>
      </div>

      <div class="dashboard-window">
        <%= render 'contacts' if params[:view] == 'contacts' %>
        <%= render 'pending' if params[:view] == 'pending' %>
      </div>
    </div>
  </div>
</div>

